<div style="max-width: 1280px; margin: auto;padding-top: 10px;">
    <div class="card border-dark">

        <!--Titulo-->

        <div class="card-header">
            <div class="row">
                <div class="col-md">
                    <h4 class="table-title">Facturas</h4>
                </div>
            </div>
        </div>

        <div class="card-body">
            <!--Tabla-->
            <table class="table table-hover">
                <thead>
                <tr class="t_head">
                    <th  scope="col">No.</th>
                    <th  scope="col">Fecha</th>
                    <th  scope="col">Monto</th>
                    <th  scope="col">Más</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-dark t_value" *ngFor="let invoice of invoices; let i = index">
                    <th  scope="row">{{i+1}}</th>
                    <td >{{invoice.created_at}}</td>
                    <td >${{invoice.total}}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" data-bs-toggle="dropdown" aria-expanded="false"  aria-haspopup="true" class="dropdown-button">
                                <i class="ph ph-caret-double-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" (click)="showInvoice(invoice.invoice_id)">
                                    <i class="ph ph-note-pencil icon-text-ul"></i>Ver detalles
                                </a>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
