<footer class="sticky-footer bg-black">
  <div class="container my-auto">
    <div class="row">
      <div class="col-3 ">
        <img class="img-profile" src="assets/default-imgs/website-icon.png" style="width: 250px;">
      </div>
      <div class="col-5 position-relative">
        <div class="copyright text-center text-white-50  ">
          <span class="position-absolute top-50 start-0">Copyright &copy; Desarrollo Web Frontend 2024-1</span>
        </div>
      </div>
      <div class="col-4">
        <h5 class="text-white-50 " style="margin-top: 30px">Creditos</h5>
        <p><a href="https://www.freepik.com/free-photo/woman-choosing-phone-technology-store_26146637.htm#query=electronic%20shopp&position=1&from_view=search&track=ais&uuid=3267dbc7-1ed5-4350-99bd-ecb5aabfd46a">Image by senivpetro</a> on Freepik</p>
        <p><a href="https://www.freepik.com/free-photo/contented-long-haired-woman-looking-contented-after-buying-goods-drugstore_21701202.htm#query=pharmacy&position=14&from_view=keyword&track=sph&uuid=80637e59-00ad-4b97-a8a3-cbff7fc3999c">Image by zinkevych</a> on Freepik</p>
        <p>Image by <a href="https://www.freepik.com/free-photo/online-fashion-shopping-with-laptop_42087999.htm#query=web%20store&position=1&from_view=search&track=ais&uuid=9101d974-0f93-4dcd-a75b-c225536d000a">Freepik</a></p>
      </div>
    </div>

  </div>
</footer>
