
<div class="container-xl">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators position-absolute top-0 start-27 ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" (click)="showProductCategory(1)">
        <img [src]="'assets/default-imgs/electronics.jpg'" class="d-block w-100" alt="..." style="height: 900px">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-start fw-bold">Electronica</p>
        </div>
      </div>
      <div class="carousel-item" (click)="showProductCategory(2)" >
        <img src="assets/default-imgs/pharmacy.jpg" class="d-block w-100" alt="..." style="height: 900px">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-start fw-bold">Farmacia</p>
        </div>
      </div>
      <div class="carousel-item" (click)="showProductCategory(1)">
        <img src="assets/default-imgs/store.jpg" class="d-block w-100"  alt="..." style="height: 900px">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-start fw-bold">¡Comprar ahora!</p>
        </div>
      </div>
    </div>
  </div>
</div>

