<div style="max-width: 1280px; margin: auto;padding-top: 10px;">
    <div class="card border-dark mb-3">

      <!--Titulo-->

      <div class="card-header">
        <div class="row row-cols-5">
          <div class="col-md">
            <h5 class="table-title">Categorias</h5>
          </div>
          <div class="col-md"></div>
          <div class="col-md"></div>
          <div class="col-md"></div>
          <div class="col-md">
            <button type="button" class="btn btn-dark" (click)="showModalForm()">Nueva categoria</button>
          </div>
        </div>
      </div>

      <div class="card-body">

            <!--Tabla-->
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Category-id</th>
                        <th scope="col">Code</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-dark" *ngFor="let category of categories; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{category.code}}</td>
                        <td>{{category.category}}</td>
                        <td>{{category.status == 0 ? "Inactivo" : "Activo"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Formulario Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modalForm" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nueva categoria</h5>
            </div>
            <div class="modal-body">
              <!-- Formulario  -->

              <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- code -->

                <div class="form-group">
                  <label for="code">Código <span class="color-red">*</span> </label>
                  <input type="text" class="form-control" formControlName="code" id="code" placeholder="Código de la categoría..."
                         [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}" >
                  <div *ngIf="form.controls['code'].errors && submitted">
                    <small class="color-red">Favor de ingresar un código de categoria válido</small>
                  </div>
                </div>

                <!-- category  -->

                <div class="form-group">
                  <label for="category">Categoria <span class="color-red">*</span> </label>
                  <input type="text" class="form-control" formControlName="category" id="category" placeholder="Nombre de la categoría."
                         [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}" >
                  <div *ngIf="form.controls['category'].errors && submitted">
                    <small class="color-red">Favor de ingresar una categoria válida</small>
                  </div>
                </div>

              <!-- Botones -->

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-dark">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
</div>
